html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: relative;
	font-size: 16px;
	/*overflow: hidden;*/
}
.shadowes {
	box-shadow: 0px 0px 5px gray;
	transition: all 0.3s;
}
.shadowes:hover{
	box-shadow: 0px 0px 15px black;
}
[class*='hovered']:hover {
	cursor: pointer;
}
.hovered-text-white:hover {
	color: white;
}
.hovered-img-scale:hover {
	transform: scale(1.1);
}
.text-tomato {
	color: tomato;
}
.text-tomato-hover:hover {
	color: tomato;
}
.h-100 {
	height: 100%;
}
.y-center {
	position: relative;
	top: 50%;transform: translateY(-50%);
}
a:hover {
	text-decoration: none;
}
.text-alata {
	font-family: 'Alata', sans-serif;
}
.text-anton {
	font-family: 'Anton', sans-serif;
}
.text-josefin {
	font-family: 'Josefin Sans', sans-serif;
}
.text-pacifico {
	font-family: 'Pacifico', cursive;
}
.bg-tomato {
	background: tomato;
}
.check { border: 1px solid red; }

#cover-box {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.start-button {
	position: absolute;
	bottom: 20px;right: 50%;
	transform: translateX(50%);
}
/* NAVBAR */
.navbar {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding: 0px;
	border-top: 2px solid tomato;
	margin: 0px;
}
.logo-1 {
	height: 100%;
	background-color: white;
	padding: 7px 3px;
	border-radius: 0 7px ;
	color: tomato;
	font-family: 'Anton', Sans-serif;
	font-size: 2em;
	transition: all 0.3s;
}
.logo-2 {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	color: white;
	transition: all 0.3s;
}
.navbar-menu {
}
.menu-hover {
	padding: 0px;
}
.menu-hover a {
	font-size: 0.9em;
	/*border-top: 2px solid white;*/
	background-color: none;
	width: 100%;height: 100%;
	display: block;
	color: white;
	transition: all 0.5s;
	font-weight: bold;
}
.menu-hover:last-child a{
	/*border-top: 2px solid rgba(0,0,0,0);*/
}
.menu-hover a:hover {
	/*border-top: 2px solid tomato;*/
	color: #94261F;
}
.navbar-menu div:last-child a i{
	font-size: 2em;
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);
}
.menu-hover:last-child a:hover {
	background-color: rgba(0,0,0,0);
	color: black;
}

/* BG Cover */
.big-logo:hover .logo-1, .big-logo:hover .logo-2  {
	opacity: 0.7;
}
.cover-bg {
	left: 50%;top: 50%;
	transform: translate(-50%,-50%);
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.cover-bg div 	{
	z-index: -1;
	height: 100%;
}
.cover-bg-1 {
	background-color: tomato;
	background-image: url('https://www.pngkit.com/png/full/876-8769665_social-modern-flat-design-people.png');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
	z-index: -2;
}
.cover-bg-2 {
	background-color: tomato;
	background-image: url('./images/city-2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}
.cover-card-2 {
	background-color: white;
	height: auto!important;
	margin-top: 2%;
	padding: 20px;
	border-radius: 10px;
	transition: all 0.5s;
}
.cover-card-2:hover {
	box-shadow: 0px 0px 10px black;	
}
.card-2-box-1 {
	margin-top: 30px;
	width: 100%;
	height: 250px!important;
	background-color: tomato;
	border-radius: 7px;
	overflow: hidden;
}
.card-2-box-1 div {
	background-image: url('https://media.apnarm.net.au/media/images/2017/04/26/b88716782z1_20170426121301_000gi9jm1222-0-jo1ar67ii6zasvuw4o2_t1880.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-color: tomato;
	opacity: 0.7;
	transition: all 0.3s;
}
.card-2-box-1:hover div {
	opacity: 1;
}
.cover-card-2 p {
	color: gray;
	transition: all 0.5s;
}
.cover-card-2:hover p {
	color: black;
}
.slick-dots {
	display: flex;
	justify-content: flex-start;

	margin: 0;
	padding: 2.5rem 2rem;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: white;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: white;
		}
	
}

/*News Dash*/
.news-dashboard {
	background-color: white;
}
		/*head article carousel*/
	.head-newss {
		position: relative;
	}
	.head-newss:before {
		position: absolute;
		content: '';
		font-family: 'Pacifico', cursive;
		top: 0;
		height: 20px;
		text-align: center;
		left: 0;right: 0;
		background: white;
		z-index: 100;
	}
	.hot-news-carousel {
		width: 100%;
		box-shadow: 0px 0px 3px black;
		background-color: white;
		border-radius: 0px;
		overflow: hidden;
		transition: all 0.3s;
	}
	.hot-news-carousel:hover {
		box-shadow: 0px 0px 17px black;
	}
	.hot-news-carousel-1 {
		position: relative;
		width: 100%;
		height: 40vw;
		overflow: hidden;
	}
	.blacker-news {
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		background-color: rgba(0, 0, 0, 0.5);
		transition: all 0.5s;
	}
	.hot-news-tag {
		position: absolute;
		top: 0;left: 0;right: 0;
	}
	.hot-news-title {
		position: absolute;
		bottom: 0;left: 0;right: 0;
	}
	[class*="hot-news-carousel-"]:hover [class*="img"] {
		transform: scale(1.1);
	}
	[class*="hot-news-carousel-"]:hover [class*="blacker"] {
		/*background-color: rgba(0, 0, 0, 0.0);*/
	}
	[class*="hot-news-carousel-img"] {
		width: 100%;
		height: 100%;
		transition: all 0.5s;
		background-image: url('');
		background-color: tomato;
		background-size: cover;
		background-position: center;
	}
	.hot-news-carousel-img-1 {
		background-image: url('https://images2.alphacoders.com/106/thumb-1920-1063834.jpg');
	}
	.hot-news-carousel-img-2 {
		background-image: url('https://images.alphacoders.com/106/thumb-1920-1063366.jpg');
	}
	.hot-news-carousel-img-3 {
		background-image: url('https://idseducation.com/wp-content/uploads/2019/06/toy-story-4-woody-and-buzz-lightyear-uhdpaper.com-4K-17.jpg');
	}
	.hot-news-carousel-img-4 {
		background-image: url('https://c4.wallpaperflare.com/wallpaper/221/116/854/joaquin-phoenix-joker-batman-fire-car-hd-wallpaper-preview.jpg');
	}
/*Sidebar*/
		/*category*/
[class*='sidebar-content'] {
	position: relative;
	padding: 5%;
	border-bottom: 2px solid #000;
}
[class*='sidebar-content'] h3 {
	background: black;
	color: white;
	display: inline-block;
	padding: 5px 20px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 1.5em;
}
[class*='sidebar-content'] a {
	display: block;
	color: inherit;
	transition: all 0.5s;
}
[class*='sidebar-content'] h3:after {
	position: absolute;
	content: '';
	top: 0;right: 5px;
	width: 7%;
	height: 30px;
	background: orange;
	border-radius: 0px 0px 3px 3px;
	transition: all 0.5s;
}
[class*='sidebar-content']:hover h3:after {
	right: 0;
	height: 10px;
	width: 100%;
	border-radius: 0px;
	background: black;
}
.sidebar-content-1 > h3:after {
	background: black;
}
.sidebar-content-2 > h3:after {
	background: red;
}
.sidebar-content-3 > h3:after {
	background: orange;
}
.sidebar-content-4 > h3:after {
	background: tomato;
}
.sidebar {
	background-color: rgba(255, 255, 255, 1);
}
.sidebar a {
	color: inherit;
}
.category-list:hover {
	background: tomato;
	cursor: pointer;
	color: white!important;
}

		/*most commented*/
.most-commented-box {
	transition: all 0.5s;
	height: 7vw;
	overflow: hidden;
}
.most-commented-box p {
	font-size: 0.6em;
	font-family: sans-serif;
}
.most-commented-image {
	overflow: hidden;
}
.most-commented-box:hover {
	background-color: tomato;
}
[class*='most-commented-img'] {
	width: 100%;
	height: 100%;
	transition: all 0.2s;
	background-color: tomato;
	background-size: cover;
	background-position: center;
}
.most-commented-img-1 {
	background-image: url('https://www.straitstimes.com/sites/default/files/styles/article_pictrure_780x520_/public/articles/2020/03/01/fhlivwat01.jpg?itok=1H1RaRpE&timestamp=1583015640');
}

		/*ARCHIVES*/
[class*='archive-list'] {
	position: relative;
}
[class*='chepron-down'] {
	display: none;
}
[class*='archive-listed-1'] {
	position: absolute;
	top: 100%;
	left: 0;
	width: 10px;height: 10px;background: tomato;
}

/*Footer*/
.footer div div {
	height: 30vw;
}