html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: relative;
	font-size: 16px;
	/*overflow: hidden;*/
}
.text-tomato {
	color: tomato;
}
.text-tomato-hover:hover {
	color: tomato;
}
.h-100 {
	height: 100%;
}
.y-center {
	position: relative;
	top: 50%;transform: translateY(-50%);
}
a:hover {
	text-decoration: none;
}
.text-alata {
	font-family: 'Alata', sans-serif;
}
.text-anton {
	font-family: 'Anton', sans-serif;
}
.text-josefin {
	font-family: 'Josefin Sans', sans-serif;
}
.text-pacifico {
	font-family: 'Pacifico', cursive;
}

.check { border: 1px solid red; }

#cover-box {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.start-button {
	position: absolute;
	bottom: 20px;right: 50%;
	transform: translateX(50%);
}
/* NAVBAR */
.navbar {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding: 0px;
	border-top: 2px solid black;
	margin: 0px;
}
.logo-1 {
	height: 100%;
	background-color: white;
	padding: 7px 3px;
	border-radius: 0 7px ;
	color: tomato;
	font-family: 'Anton', Sans-serif;
	font-size: 2em;
	transition: all 0.3s;
}
.logo-2 {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	color: white;
	transition: all 0.3s;
}
.navbar-menu {
}
.menu-hover {
	padding: 0px;
}
.menu-hover a {
	font-size: 0.9em;
	/*border-top: 2px solid white;*/
	background-color: none;
	width: 100%;height: 100%;
	display: block;
	color: white;
	transition: all 0.5s;
	font-weight: bold;
}
.menu-hover:last-child a{
	/*border-top: 2px solid rgba(0,0,0,0);*/
}
.menu-hover a:hover {
	/*border-top: 2px solid tomato;*/
	color: #94261F;
}
.navbar-menu div:last-child a i{
	font-size: 2em;
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);
}
.menu-hover:last-child a:hover {
	background-color: rgba(0,0,0,0);
	color: black;
}

/* BG Cover */
.big-logo:hover .logo-1, .big-logo:hover .logo-2  {
	opacity: 0.7;
}
.cover-bg {
	left: 50%;top: 50%;
	transform: translate(-50%,-50%);
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.cover-bg div 	{
	z-index: -1;
	height: 100%;
}
.cover-bg-1 {
	background-color: tomato;
	background-image: url('https://www.pngkit.com/png/full/876-8769665_social-modern-flat-design-people.png');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
	z-index: -2;
}
.cover-bg-2 {
	background-color: tomato;
	background-image: url('./images/city-2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}
.cover-card-2 {
	background-color: white;
	height: auto!important;
	margin-top: 2%;
	padding: 20px;
	border-radius: 10px;
	transition: all 0.5s;
}
.cover-card-2:hover {
	box-shadow: 0px 0px 10px black;	
}
.card-2-box-1 {
	margin-top: 30px;
	width: 100%;
	height: 250px!important;
	background-color: black;
	border-radius: 7px;
	overflow: hidden;
}
.card-2-box-1 div {
	background-image: url('https://media.apnarm.net.au/media/images/2017/04/26/b88716782z1_20170426121301_000gi9jm1222-0-jo1ar67ii6zasvuw4o2_t1880.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	transition: all 0.3s;
}
.card-2-box-1:hover div {
	opacity: 1;
}
.cover-card-2 p {
	color: gray;
	transition: all 0.5s;
}
.cover-card-2:hover p {
	color: black;
}
.slick-dots {
	display: flex;
	justify-content: flex-start;

	margin: 0;
	padding: 2.5rem 2rem;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: white;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: white;
		}
	
}

/*News Dash*/
.news-dashboard {
	background-color: white;
}
.sidebar {
	background-color: rgba(255, 255, 255, 1);
}
